.calendar {
    position: relative;
    display: flex;
    justify-content: center;
    transform: none !important;
    perspective: none !important;
    filter: none !important;
}

.tileContent {
    width: 30px;
}

.react-calendar__navigation {
    margin-top: 100px;
}