.header {
    position: fixed !important;
    left: 50%;
    transform: translate(-50%, 0);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: white;
    z-index: 100;
    border-bottom: 1px solid #535353;
}

.header__logo {
    object-fit: contain;
    height: 40px;
}

.header__icon {
    padding: 20px;
}

.restaurant_menu {
    color: rgb(0, 165, 194);
}